/* 初始化格式 */
html,ul,ol,li
{
	list-style: none;
	font-family: "PingFangSC-Thin";
}
div{float:left;}
/* 设置所有内外边距为0 */
*{
	margin: 0px;
	padding: 0px;
}
/* 设置模块宽度和超出隐藏 */
section{
	width: 100%;
}
/* 轮播图*/
.banner,.bannerDiv{
	width: 100%;
	height: 420px;
	position: relative;
}
.bannerDiv>li>a>img{
	width: auto;
	height: 420px;
	position: absolute;
	top:0px;
	right:0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	opacity:0;
    transition:all 1s linear;
}
.bannerDiv>li>a>img.show{
	opacity: 1;
} 
.bannerDot{
	display: inline-block;
	position: absolute;
	right: 117px;
	top:350px;
	z-index: 1000;
    padding: 10px 20px 10px 0px;
    background: rgba(0,0,0,0.1);
    border-radius: 30px;
}
.bannerDot>li{
    float: left;
}
.bannerDot>li>span{
	display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
	background: #FFF;
	margin-left:20px; 
}
.bannerDot>li>span:hover{
    background-color: #CF680A;
}
.bannerDot>li>span.active{
	background-color: #CF680A;
}
/* 设置body */
body {
	width: 100%;
}
.body1 {
    width: 100%;
}
.body2 {
    width: 100%;
	height: 648px;
	position: relative;
}
.body3{
	width:1180px;
	height:488px;
	position: absolute;
	top:80px;
	left:0px;
	right:0px;
	margin:auto;
}
.body4{
	display: inline-block;
    height:46px;
	text-align: left;
    color:gray;
	width:1180px;
	font-size:14px;
	margin-bottom:40px;
	border-bottom: 1px solid #ddd;
}
.body4>h2{
    float:left;
    height:46px;
	margin-right:40px;
	font-weight:600;
	line-height:46px;
	font-size:26px;
	color:#000;
	letter-spacing:2px;
	cursor: default;
}
.body4>span{
    text-align: center;
}
.body4>span>a{
    color:#003569;
	margin:0 auto;
	text-decoration:none;
	line-height:46px;
}
.body4>div{
	width: 100px;
	height: 43px;
	float: right;
	margin:2px 0px 0px 20px;
	line-height: 43px;
	vertical-align: middle;
	color:#000;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 2px;
	text-align: center;
}
#tjLink1{
	border: 1px solid #ddd ;
	border-bottom: 1px solid #fff;
	cursor: pointer
}
#tjLink2,#tjLink3,#tjLink4{
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
#tjPart1,#tjPart2,#tjPart3,#tjPart4{
	position: absolute;
	left:0px;
	top:87px;
}
#tjPart2,#tjPart3,#tjPart4{
	display: none;
}
.tjDiv{
    width:280px;
	height:400px;
	margin-right:20px;
	box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}
.tjDiv1{
    width:280px;
	height:400px;
	outline-style:none;
	outline-color:rgb(102, 102, 102);
	box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}
.tj{
	width: 280px;
    height: 280px;
	overflow: hidden;
	position: relative;
	background-image: url();
	cursor: pointer;
}
.tjImg{
    width:280px;
	height:280px;
	transition: all 0.5s ease-out; 
	position: absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom: 0px;
	margin:auto;
}
.tjText{
    width:240px;
	height:72px;
	padding:20px 20px;
	font-size:12px;
}
.tjText>h3{
    width:100%;
	font-weight:600;
    line-height:18px;
	outline-style:none;
	outline-color:rgb(0, 0, 0);
    text-align:left;
}
.tjText>a{
    width:100%;
    text-decoration:none;
	font-size:12px;
	font-weight:500;
	color:rgb(102, 102, 102);
	line-height:18px;
}
.tjText>p{
    font-size:12px;
	font-weight:600;
    line-height:18px;
    color:rgb(0, 0, 0);
	display:block;
}
.tjNew{
    width:100%;
	height:475px;
	position: relative;
}
.tjNewDiv{
	width:1180px;
	height:355px;
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:110px;
	margin:auto;
}
.tjNewTitle{
    width:1180px;
	height:35px;
	margin-bottom:40px;
}
.tjNewTitle>h2{
    width:226.69px;
	height:35px;
    line-height:35px;
    text-align:left;
	font-weight:600;
	font-style:normal;
	font-size:26px;
    letter-spacing:3px;
	float:left;
	margin-right:40px;
	color:rgb(0, 0, 0);
	cursor: default;
}
.tjChange{
    color:rgb(0,53,105);
    font-size:16px;
	line-height:35px;
	cursor: pointer;
}
.tjChange>img{
	padding-right:3px;
	width: 17px;
	height: 20px;
	line-height: 35px;
	margin-top:8px; 
}
.tjChange>p{
	display: inline-block;
}




.newImgDiv{
	position: absolute;
	top:75px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
}
.newImg1,.newImg2{
	position: relative;
	overflow:hidden;
}
.newImg1,.newImgBig{
	width:280px;
	height:280px;
}
.newImg1{
	margin-right:20px;
}
.newImg2,.newImgSmall{
	width:130px;
	height:130px;
}
.newImgBig,.newImgSmall{
	transition: all 0.6s;
}
.front,.back,.newImgBig,.newImgSmall,.newImgP,.newImgPs,.newImgP>p,.newImgPs>p{
    position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
}
.front,.back{
	backface-visibility:hidden;
	transform-style:preserve-3d;
	perspective: 700px;
	transition: all 2s;
}
.back{
	transform:rotate3D(0,1,0,-180deg);
}
.nis{
	margin:0px 20px 20px 0px;
}
.nis1{
    margin-bottom:20px;
}
.nis2{
	margin-right:20px;
}
.newImgP,.newImgPs{
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	cursor: pointer;
}
.newImgP>p,.newImgPs>p{
	color:#fff;
	font-size: 12px;
	height: 70px;
	width: 130px;
	display: inline-block;
	text-align: center;
}






.searchDiv{
    width:100%;
	height:300px;
	background:#444;
    position: relative;
}
.searchBox{
	width:1180px;
	height:224px;
	font-size:30px;
	color:#FFF;
	position: absolute;
	top:40px;
	left:0px;
	right:0px;
	margin: auto;	
}
.searchBox>div{
	margin-top: 48px;
}
#selectKind,#selectPrice,#selectSize,#selectStyle{
    width:198px;
	height:42px;
	border-radius:4px;
	margin-right:6px; 
}
#selectKind,#selectPrice,#selectSize,#selectStyle{
    outline: none;
	font-size: 14px;
	color: #333;
}
.searchGo{
	clear: both;
	font-size: 14px;
	line-height: 42px;
}
.searchGo>p{
	margin-right:20px;
	float: left;
}
.searchGo>a{
	text-decoration: none;
	color:#fff;
	font-weight: bold;
	margin-right:20px;
	float: left;
	cursor: pointer;
}
.startText{
    background-color: #1f1f1f;
	float: right;
	position: relative;
	width:27%;
	height:300px;
	z-index: 10;
	cursor: pointer;
}
.changeColor{
	background-color: #CF680A;
	width:0%;
	height:300px;
	transition: all 0.4s;
	position: absolute;
	top:0px;
	left:0px;
	z-index: 100;
}
.startText>p{
	color: #FFF;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 4px;
	position: absolute;
	top:35%;
	left:40%;
	z-index: 1000;
	transition: all 0.4s;
}
.specialTitle{
	width:100%;
	height:480px;
	text-align: center;
	position: relative;
}
#ajaxPart3{
	text-align: left;
}
.specialLeft,.specialRight{
	width:10.5%;
	height:100px;
	display:flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.specialLeft:hover,.specialRight:hover{
	background-color: #eee;
}
.specialRight{
    float: right;
}
.specialLeft>div{
	width:20px;
	height:20px;
	transform: rotate(-45deg);
    border-left: solid 1px #000;
	border-top: solid 1px #000;
	margin: 0 auto;
}
.specialRight>div{
    width:20px;
	height:20px;
	transform: rotate(-45deg);
    border-right: solid 1px #000;
	border-bottom: solid 1px #000;
}
.specialTitle>span{
	font-size: 26px;
    font-weight: 600;
    color: #000000;
	letter-spacing: 3px;
	padding-top:37px;
	display: inline-block;
}	
.specialBody{
	margin-left:0px;
	width:8950px;
	height:380px;
	position: absolute;
	top:100px;
	left:0px;
	transition: all 0.5s ease-out;
}
.specialBody:hover{  
	left:-60px;
}
.specialBodyDiv{
	width:320px;
	height:380px;
	position: relative;
	overflow: hidden;
	margin-right:32px;
	transition: all 0.5s ease-out;
	cursor: pointer;
}
.specialBodyDiv:hover{
	width:440px;
}
.specialText{
	width: 440px;
    height: 380px;	
	position: absolute;
	top: 0px;
	left:0px;
	transition: all 0.5s ease-out;
}
.specialText:hover{
	padding-left:60px;
}
.specialImg{
	width: 440px;
    height: 380px;	
	position: absolute;
	top: 0px;
	left:-60px;
	transition: all 0.5s ease-out;
}
.specialText{
	background-color: rgba(0,0,0,0.2);
}
.specialText>h2{
	display: block;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
	padding: 30px;
	width: 260px;
	height: 80px;
}
.specialText>p{
	color:#fff;
	font-size: 14px;
	width: 260px;
	padding: 30px;
	width: 260px;
}
.artist{
	width:100%;
	height:406px;
	margin:100px 0px;
	position: relative;
}
.artistDiv{
	width:1180px;
	height:406px;
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	margin: auto;
}
.artistTitle{
	width:1180px;
	height:46px;
	margin-bottom:40px;
}
.artistTitle>h2{
    font-size: 26px;
    font-weight:600;
	color: #000;
	letter-spacing: 3px;
	margin-right: 34px;	
	line-height: 46px;
	vertical-align: middle;
	float: left;
}
.artistTitle>a{
	width: 180px;
	height: 40px;
	cursor: pointer;
	border: solid 1px #CF680A;
	border-radius: 20px;
    color: #CF680A;
    font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	line-height: 38px;
	float: left;
	text-align: center;
}
.artistTitle>a:hover{
	background-color: #CF680A;
	color:#fff;
}
.artistBody{
	width:1180px;
	height:320px;
}
.artistLeft,.bgC{
	width:450px;
	height:320px;
}
.artistLeft{
	overflow: hidden;
	background:url(../img/index/artist-img/1.jpg) center;
	background-size:450px 320px;
	transition: all 0.5s ease-out;
	position: relative;
	cursor: pointer;
}
.bgC{
	display: inline-block;
	background:rgba(0,0,0,0.3);
	position: absolute;
	top:0px;
}
.artistLeft:hover{
	background-size:470px 335px;

}
.artistLeft>h3{
	font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 120px;
	padding: 0 20px;
	color:#fff;
}
.artistLeft>p{
	font-size: 13px;
	position: absolute;
	bottom: 65px;
	padding: 0 20px;
	color:#fff;
	line-height: 1.75;
}
.artistRight{
	width:679px;
	height:320px;
	padding-left:25px;
	border-left:1px solid #d8d8d8;
	margin-left:24px;
	position: relative;
}
.artistRightText1,.artistRightText2,.artistRightText3{
	width: 80px;
	height: 35px;
	padding: 20px 0px;
	border-top:1px solid #000;
}
.artistRightText2{
	border-bottom:1px solid #000;
	border-top:none !important;
}
.artistRightText1{
	position: absolute;
	bottom: -4%;
	left:10%;
}
.artistRightText2{
	position: absolute;
	top: 13%;
	left:45%;
}
.artistRightText3{
	position: absolute;
	bottom: -4%;
	right:10%;
}
.textP1{
	font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
	color: #000;
	cursor: pointer;
}
.textP2{
	font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #000;
}
.artistImgs1,.artistImgs2,.artistImgs3{
	width: 200px;
	height: 200px;
	position: absolute;
	position: relative;
	transition: all 0.5s ease-out;
	cursor: pointer;
}
.artistImgs1{
	top:20px;
	left:0px;
}
.artistImgs2{
	top:120px;
	left:35px;
}
.artistImgs3{
	top:20px;
	left:70px;
}
.artistImgs1>img,.artistImgs2>img,.artistImgs3>img{
	width: 180px;
	height: 180px;
	transition: all 0.5s ease-out; 
}
.movePic,.movePic1{
	position: absolute;
	top:0px;
	left:0px;
	opacity: 0.3;
}
.movePic1{
	opacity: 0.6 !important;
}
.movePic2{
	position: absolute;
	top:10px;
	left:10px;
	box-shadow: -4px 2px 6px 0 rgba(0,0,0,0.5);
}
.insight{
	width:100%;
	height:570px;
	margin-bottom:100px;
	position: relative;
}
.insightDiv{
	width:1180px;
    height:570px;
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin: auto;
}
.insightTitle{
	width:1180px;
	height:46px;
	margin-bottom:40px; 
}
.insightTitle>h3{
    font-size: 26px;
    font-weight: 600;
	color: #000;
	letter-spacing: 3px;
	float: left;
	margin-right:40px; 
}
.insightTitle>a{	
	color: #003569;
	cursor: pointer;
	text-decoration: none;
	float: left;
	vertical-align: middle;
    height: 38px;
	line-height: 38px;
	cursor: pointer;
}
.insightBody{
	width:1180px;
	height:494px;
}
.insightBody1{
	width:580px;
	height:494px;
}
.insightBodyDiv1,.insightBodyDiv3{
    width:580px;
	height:300px;
	background-image: url(../img/index/insight-img/1.jpg);
	background-size: 580px 300px;
	background-position:center;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-out; 
	cursor: pointer;
}
.insightBodyDiv1:hover,.insightBodyDiv3:hover{
	background-size: 608px 312px;
}
.insightBodyDiv3{
	background-image: url(../img/index/insight-img/2.jpg);
}
.insightBodyDiv2P1{
	width:580px;
	height:33px;
	line-height: 33px;
	text-align: center;
	margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
	color: #000;
	cursor: pointer;
}
.insightBodyDiv2>div,.insightBodyDiv4>div{
	display: block;
	margin: 20px 250px;
    width:80px;
	border-bottom: 1px solid #000;
}
.insightBodyDiv2P2{
    width: 540px;
	height: 100px;
    font-size: 14px;
	color: #000;
	margin:0px 18px;
	letter-spacing: 1.4px;
}
.insightBody2{
	width:580px;
	height:494px;
	float: right;
}
.whyUs{
	width:100%;
	height:900px;
	margin-bottom:100px;
	position: relative;
}
.whyUsDIv{
	width:1180px;
	height:900px;
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
}
.whyUsTitle{
	width:100%;
	height:46px;	
	text-align: center;
	margin-bottom: 25px;
}
.whyUsTitle>span{
	font-size: 26px;
    font-weight: 600;
    color: #000;
	letter-spacing: 3px;
	line-height: 46px;
}
.whyUsPic{
	width:1180px;
	height:346px;
}
.whyUsPicP{
	width:120px;
	display: inline-block;
	transition: all 0.4s;
}
.whyUsPic1,.whyUsPic2,.whyUsPic3{
	width:393.33px;
	height:346px;
	position: relative;
}
.whyUsPicL,.whyUsPicC,.whyUsPicR{
	position: relative;
}
.whyUsPicDotL,.whyUsPicDotR{
	width: 6px;
	height: 6px;
	font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
	background-color: #000;
	transition: all 0.4s;
	position: absolute;
	top:20px;
}
.whyUsPicDotL{
	left:45px;
}
.whyUsPicDotR{
	right: 45px;
}
.whyUsPic1>div,.whyUsPic2>div,.whyUsPic3>div{
	width:280px;
	height:346px;  
	position: absolute;
	top:15px;
	left:0px;
	right:0px;
	margin: auto;
	border-bottom:2px solid #eee;
}
.whyUsPic1>div>img,.whyUsPic2>div>img,.whyUsPic3>div>img{
	width:140px;
	height:140px;
	display: block;
	margin: 0 auto;
}
.whyUsPic1>div>div,.whyUsPic2>div>div,.whyUsPic3>div>div{
	font-size: 30px;
	font-weight: 400;
	width:280px;
    display: block;
	margin: 30px 0 30px 0;
	padding: 3px 0px;
	text-align: center;
}
.whyUsPic1>div>p,.whyUsPic2>div>p,.whyUsPic3>div>p{
	font-size: 16px;
    margin: 0px;
    padding: 3px 0px;
	text-align: center;
    width:100%;
}
.artYouWant{
	width:1180px;
	height:400px;
	margin-top:80px;
	position: relative;
}
.artYouWantCenter{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top:0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin:auto;
	background-color: #000;
	background-image: url("../img/index/insight-img/logo_notext.svg");
	background-size: 40px 40px;
	background-position: center;
	background-repeat: no-repeat;
}
.artYouWantPic>img{
	width:590px;
	height:400px;
}
.artYouWantText{
	width:422px;
	height:400px;
	background-color: #000;
	padding-left: 60px;
	padding-right: 108px;
}
.artYouWantTitle>span{
	width:422px;
	color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
	margin-top: 55px;
	display: block;
}
.artYouWantLine{
	width: 80px;
	height: 0;
    border-top: 1px solid #fff;
	margin: 30px 0;
}
.artYouWantText>p{
	float: left;
	margin-top: -3px;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
	color: #fff;
	margin-bottom:40px;
}
.artYouWantText>a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	float: left;
}
.asFeaturedIn{
	width:100%;
	height:160px;
	margin-bottom: 120px;
	position: relative;
}
.asFeaturedInDiv{
	width:1180px;
	height:160px;
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	margin: auto;
}
.asFeaturedInTitle{
	width:100%;
	text-align: center;
}
.asFeaturedInTitle>span{
	font-size: 26px;
    font-weight: 600;
    color: #000;
	letter-spacing: 3px;
    display: inline-block;
    vertical-align: middle;
}
.asFeaturedInLogo{
	width: 100%;
	height:35px;
	margin-top: 60px;
}
.asFeaturedInLogo>ul>li{
   float: left;
}
.asFeaturedInLogo1>img,.asFeaturedInLogo2>img,.asFeaturedInLogo3>a>img,.asFeaturedInLogo4>img,.asFeaturedInLogo5>img,.asFeaturedInLogo6>img{
	width:125.344px;
	height:35px;
	margin-right:50px;
}
.asFeaturedInLogo1>img{
	margin-left:40px; 
}
.asFeaturedInLogo2>img{
	width:168.875px;
}
.asFeaturedInLogo3>a>img{
	width:181.797px;
}
.asFeaturedInLogo4>img{
	width:182.172px;
}
.asFeaturedInLogo5>img{
	width:133.188px;
}
.asFeaturedInLogo6>img{
	width:30.45px;
	margin-right:0px; 
}
