html,body,ul,ol,li,p,a,h2{float:left;list-style:none;margin:0;padding:0;font-family:"PingFangSC-Thin";}

.body1{width:1423px;height:4461px;}
.body2{width:1180px;height:448px;margin:80px 121.5px 80px 121.5px;border:1px solid red;}
.body3{width:258.938px;}
.body4{text-align:left;border-bottom:1px solid #ddd;}