/* 初始化格式 */
html,
body,
ul,
ol,
li,
p,
a,
div{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: "PingFangSC-Thin";
}

/* 设置所有内外边距为0 */
*{
	margin: 0px;
	padding: 0px;
}
/* 设置模块宽度和超出隐藏 */
section{
	width: 100%;
	overflow: hidden
}

/* 设置body */
body {
	width: 100%;
}

.body1 {
    width: 100%;
    height: 4461px;
}

.body2 {
    width: 1180px;
    height: 488px;
    margin: 80px 121.5px 80px 121.5px;
}

.body4{
    height:46px;
	text-align: left;
    border-bottom: 1px solid #ddd;
    color:gray;
	width:1180px;
	font-size:14px;
	margin-bottom:40px;
}
.body4>h2{
    float:left;
    height:46px;
	margin-right:40px;
	font-weight:600;
	line-height:46px;
	font-size:26px;
	color:#000;
    letter-spacing:2px;
}

.body4>span{
    text-align: center;
}

.body4>span>a{
    color:gray;
	margin:0 auto;
	text-decoration:none;
	line-height:46px;
}

.tjLink{
    float:right;
    line-height:45px;
	width:100px;
	text-align:center;
	border-top:1px solid rgb(221,221,221);
	border-left:1px solid rgb(221,221,221);
	border-right:1px solid rgb(221,221,221);
	border-bottom:1px solid transparent;
	margin-left:20px;
	font-size:18px;
	color:black;
}

.tjDiv{
    width:280px;
	height:400px;
	margin-right:20px;
}

.tjDiv1{
    width:280px;
	height:400px;
	outline-style:none;
	outline-color:rgb(102, 102, 102);
}

.tjImg{
    width:280px;
	height:280px;
}

.tjText{
    width:240px;
	height:72px;
	padding:20px 20px;
}

.tjText>h3{
    width:100%;
    font-size:14px;
	font-weight:600;
    line-height:18px;
	outline-style:none;
	outline-color:rgb(0, 0, 0);
    text-align:left;
}

.tjText>a{
    width:100%;
    text-decoration:none;
	font-size:12px;
	font-weight:500;
	color:rgb(102, 102, 102);
	line-height:18px;
}

.tjText>p{
    font-size:12px;
	font-weight:600;
    line-height:18px;
    color:rgb(0, 0, 0);
	display:block;
}

.tjNew{
    width:1180px;
	height:355px;
	margin:0px 121.5px 120px 121.5px;
}

.tjNewTitle{
    width:1180px;
	height:35px;
	margin-bottom:40px;
}

.tjNewTitle>h2{
    width:226.69px;
	height:35px;
    line-height:35px;
    text-align:left;
	font-weight:600;
	font-style:normal;
	font-size:26px;
    letter-spacing:3px;
	float:left;
	margin-right:40px;
	color:rgb(0, 0, 0);
}

.tjChange{
    color:rgb(0,53,105);
    font-size:16px;
    text-align:center;
	margin:0 auto;
    line-height:35px;
}

.newImgBig{
    width:280px;
	height:280px;
	margin-right:20px;
}

.newImgSmall{
    width:130px;
	height:130px;
    margin:0px 20px 16px 0px;
}

.newImgSmall1{
    width:130px;
	height:130px;
    margin:0px 0px 16px 0px;
}

.newImgSmall2{
    width:130px;
	height:130px;
    margin:0px 20px 0px 0px;
}

.newImgSmall3{
    width:130px;
	height:130px;
	margin:0px;
}

.searchDiv{
    width:100%;
	height:304px;
}

.searchBox{
    width:1180px;
	height:224px;
	margin:0 auto;
	border:1px solid red;
}



















